@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>View Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/view-recipe.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="nav-index">
        <nav class="navbar navbar-expand-lg bg-dark">

            <a class="navbar-brand" href="#">Recipe.IO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Chefs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Top Mundial</a>
                            <a class="dropdown-item" href="#">Regional</a>
                            <a class="dropdown-item" href="#">Local</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recetas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Crear Nueva</a>
                            <a class="dropdown-item" href="#">Favoritas</a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda de Recetas" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <ul class="navbar-nav mr-sm-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hola Usuario-Nuevo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ajustes</a>
                            <a class="dropdown-item" href="#">Enviar Comentarios</a>
                            <a class="dropdown-item" href="#">Cerrar Sessión</a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <div id="index-content">
            <section>
                <div class="container">
                    <div class="row">
                        <h1 class="text-center">
                            <span> Easy  Recipes </span>
                        </h1>
                        @for (int i = 0; i < 10; i++)
                        {
                            @* Foreach AQUI { *@
                            <div class="col-md-3">
                                <div class="card profile-card-1">
                                    <a href="https://www.google.com">
                                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F_EXqEVR4QXBc%2FSrjbBLu9AoI%2FAAAAAAAAALU%2FGKzZLWXrny8%2Fs400%2F1arrozconhuevos.jpg&f=1&nofb=1" />
                                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcomalcagourmet.files.wordpress.com%2F2013%2F01%2Fgaston-acurio.jpg&amp;f=1&amp;nofb=1" class="profile" id="profile-index"/>
                                    </a>

                                    <div class="card-content">
                                        <h2>
                                            Arroz con Huevo
                                            <small>Por Gastón Acurio</small>
                                        </h2>
                                    </div>

                                </div>
                            </div>
                            @* Final del Foreach } *@
                        }
                    </div>
                </div>
            </section>
        </div>

        <div id="footer-index">
            <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                <div class="container text-center">
                    <small>Copyright &copy; Recipe.IO - 2020</small>
                </div>
            </footer>
        </div>
   </body>
</html>

